.beer-tile {
  width: 25vw;
  margin: 10px 0;
  padding: 1vw;
  border: 2px solid black;
  border-radius: 10px;

  &__center {
    text-align: center;
  }

  &__image {
    height: 15rem;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
