@use "../../variables" as *;

.container {
  // background-image: url("../../assets/beer-foam1.png");
  // background-repeat: no-repeat;
  // background-size: 80vw;
  // background-position: right 0;
  // background-attachment: fixed;
  // background-blend-mode: color;
  margin-right: 0;
  margin-left: auto;
  width: 80%;

  .all-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .pages {
    text-align: center;
    font-size: 2.3vw;
    // font-family: $font-primary;
    padding: 3vh;

    &__numbers {
      padding: 3vh;
      list-style: none;
      display: flex;
      justify-content: space-around;

      button {
        width: 3rem;
        aspect-ratio: 1/1;
        font-size: 60%;
        background-color: black;
        color: white;
        border-radius: 50%;
      }
    }
  }
}
