@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300;400;500;600&display=swap");

$font-primary: "Bangers", cursive;
$font-secondary: "Quicksand", sans-serif;

$color-primary: rgba(245, 189, 49, 0.583);
